*~
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.gz
*.bz2
*.pyc
*.pb
*.DS_Store
tmp*
CMakeCache.txt
CMakeFiles
*.bk
build
_skbuild
deepmd_kit.egg-info/
dist
.eggs
/deepmd/_version.py
venv*
.vscode/**
_build
_templates
API_CC
doc/api_py/
doc/api_core/
doc/api_c/
dp/
dp_test/
dp_test_cc/
dp_test_c/
dp_c/
build_lammps/
.idea/
build_tests/
build_cc_tests
build_c_tests
build_c/
libdeepmd_c/
