*~
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.gz
*.bz2
*.pyc
tmp*
CMakeCache.txt
CMakeFiles
*.bk
build
_skbuild
deepmd_kit.egg-info/
dist
.eggs
_version.py
venv*
.vscode/**
_build
_templates
