# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^.+\\.pbtxt$"
      - id: end-of-file-fixer
        exclude: "^.+\\.pbtxt$|deeppot_sea.*\\.json$"
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1024", "--enforce-all"]
        exclude: |
          (?x)^(
              source/tests/infer/dipolecharge_e.pbtxt|
              source/tests/infer/deeppolar_new.pbtxt
          )$
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
  # Python
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        files: \.py$
        exclude: ^source/3rdparty
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.13
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: ^source/3rdparty
        types_or: [python, pyi, jupyter]
      - id: ruff-format
        exclude: ^source/3rdparty
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/pycqa/flake8
    # flake8 cannot autofix
    rev: "7.2.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - torchfix==0.6.0
          - flake8-pyproject==1.2.3
  # numpydoc
  - repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
      - id: velin
        args: ["--write"]
        exclude: ^source/3rdparty
  # Python inside docs
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
  # C++
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.5
    hooks:
      - id: clang-format
        exclude: ^(source/3rdparty|source/lib/src/gpu/cudart/.+\.inc|.+\.ipynb$|.+\.json$)
  # markdown, yaml, CSS, javascript
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [markdown, yaml, css]
        # workflow files cannot be modified by pre-commit.ci
        exclude: ^(source/3rdparty|\.github/workflows|\.clang-format)
  # Shell
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
  # CMake
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      #- id: cmake-lint
  - repo: https://github.com/njzjz/mirrors-bibtex-tidy
    rev: v1.13.0
    hooks:
      - id: bibtex-tidy
        args:
          - --curly
          - --numeric
          - --align=13
          - --blank-lines
          # disable sort: the order of keys and fields has explict meanings
          #- --sort=key
          - --duplicates=key,doi,citation,abstract
          - --merge=combine
          #- --sort-fields
          #- --strip-comments
          - --trailing-commas
          - --encode-urls
          - --remove-empty-fields
          - --wrap=80
  # license header
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      # C++, js
      - id: insert-license
        files: \.(c|cc|cpp|js|ts|h|hpp)$
        args:
          - --license-filepath
          - .license-header.txt
          - --comment-style
          - //
          - --no-extra-eol
        exclude: ^source/3rdparty|source/lib/src/gpu/cudart/.+\.inc
      # CSS
      - id: insert-license
        files: \.(css|scss)$
        args:
          - --license-filepath
          - .license-header.txt
          - --comment-style
          - /*| *| */
          - --no-extra-eol
      # Python
      - id: insert-license
        files: \.(py|pyx)$
        args:
          - --license-filepath
          - .license-header.txt
          - --comment-style
          - "#"
          - --no-extra-eol
        exclude: ^source/3rdparty
      # HTML
      - id: insert-license
        files: \.(html|vue|xml)$
        args:
          - --license-filepath
          - .license-header.txt
          - --comment-style
          - <!--|  ~|  -->
          - --no-extra-eol
  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: DeepMD|DeepMd|Pytorch|Tensorflow|Numpy|Github|Lammps|I-Pi|I-PI|i-Pi
        # unclear why PairDeepMD is used instead of PairDeePMD
        exclude: .pre-commit-config.yaml|source/lmp
  # customized pylint rules
  - repo: https://github.com/pylint-dev/pylint/
    rev: v3.3.7
    hooks:
      - id: pylint
        entry: env PYTHONPATH=source/checker pylint
        files: ^deepmd/
ci:
  autoupdate_branch: devel
