[build-system]
requires = [
    "setuptools",
    "setuptools_scm",
    "wheel",
    "scikit-build",
    "cmake",
    # see https://github.com/scikit-build/scikit-build/releases/tag/0.13.1
    "ninja; platform_system!='Windows'",
]

[tool.cibuildwheel]
test-command = "dp -h"
test-requires = "tensorflow"
build = ["cp36-*", "cp37-*", "cp38-*", "cp39-*", "cp310-*"]
skip = ["*-win32", "*-manylinux_i686", "*-musllinux*"]
manylinux-x86_64-image = "ghcr.io/deepmodeling/manylinux_2_28_x86_64_tensorflow"
before-build = "pip install tensorflow"
