on:
  push:
  pull_request:
name: Build C++
jobs:
  testpython:
    name: Build C++
    runs-on: ubuntu-latest
    container: ghcr.io/deepmodeling/deepmd-kit-test-cc:latest
    strategy:  
      matrix:
        include:
        - variant: cpu
        - variant: cuda
        - variant: rocm
        - variant: clang
    steps:
    - name: work around permission issue
      run: git config --global --add safe.directory /__w/deepmd-kit/deepmd-kit
    - uses: actions/checkout@master
      with:
        submodules: true
    - run: apt-get update && apt-get install -y python3-pip python3-venv
      if: matrix.variant == 'cpu'
    - run: apt-get update && apt-get install -y nvidia-cuda-toolkit
      if: matrix.variant == 'cuda'
    - run: |
         apt-get update && apt-get install -y gnupg2 \
         && echo 'deb [arch=amd64] https://repo.radeon.com/rocm/apt/5.3/ jammy main' | tee /etc/apt/sources.list.d/rocm.list \
         && printf 'Package: *\nPin: release o=repo.radeon.com\nPin-Priority: 600' | tee /etc/apt/preferences.d/rocm-pin-600 \
         && curl -s https://repo.radeon.com/rocm/rocm.gpg.key | apt-key add - \
         && apt-get update \
         && apt-get install -y rocm-dev hipcub-dev
      if: matrix.variant == 'rocm'
    - run: apt-get update && apt-get install -y clang
      if: matrix.variant == 'clang'  
    - run: source/install/build_cc.sh
      env:
        DP_VARIANT: ${{ matrix.variant }}
        DOWNLOAD_TENSORFLOW: "FALSE"
      if: matrix.variant != 'clang'
    - run: source/install/build_cc.sh
      env:
        DP_VARIANT: cpu
        DOWNLOAD_TENSORFLOW: "FALSE"
        CC: clang
        CXX: clang++
      if: matrix.variant == 'clang'
    # test lammps
    - run: source/install/build_lammps.sh
      if: matrix.variant == 'cpu'
    - run: |
        python -m pip install -U pip
        python -m pip install -e .[cpu,test]
      env:
        DP_BUILD_TESTING: 1
      if: matrix.variant == 'cpu'
    - run: pytest --cov=deepmd source/lmp/tests
      env:
        OMP_NUM_THREADS: 1
        TF_INTRA_OP_PARALLELISM_THREADS: 1
        TF_INTER_OP_PARALLELISM_THREADS: 1
        LAMMPS_PLUGIN_PATH: ${{ github.workspace }}/dp/lib/deepmd_lmp
        LD_LIBRARY_PATH: ${{ github.workspace }}/dp/lib
      if: matrix.variant == 'cpu'
    - run: source/install/codecov.sh
      if: matrix.variant == 'cpu'
