on:
  push:
    branches-ignore:
      - "gh-readonly-queue/**"
  pull_request:
  merge_group:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
name: Test C++
jobs:
  testcc:
    name: Test C++
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        check_memleak: [true, false]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    - uses: lukka/get-cmake@latest
    - run: python -m pip install uv
    - name: Install Python dependencies
      run: |
        source/install/uv_with_retry.sh pip install --system tensorflow-cpu~=2.18.0 jax==0.5.0
        export TENSORFLOW_ROOT=$(python -c 'import importlib,pathlib;print(pathlib.Path(importlib.util.find_spec("tensorflow").origin).parent)')
        source/install/uv_with_retry.sh pip install --system -e .[cpu,test,lmp,jax] mpi4py mpich
        source/install/uv_with_retry.sh pip install --system 'torch==2.8.*' --index-url https://download.pytorch.org/whl/cpu
    - name: Convert models
      run: source/tests/infer/convert-models.sh
    # https://github.com/actions/runner-images/issues/9491
    - name: Fix kernel mmap rnd bits
      run: sudo sysctl vm.mmap_rnd_bits=28
      if: ${{ matrix.check_memleak }}
    - run: |
         source/install/test_cc_local.sh
      env:
        OMP_NUM_THREADS: 1
        TF_INTRA_OP_PARALLELISM_THREADS: 1
        TF_INTER_OP_PARALLELISM_THREADS: 1
        CMAKE_GENERATOR: Ninja
        CXXFLAGS: ${{ matrix.check_memleak && '-fsanitize=leak' || '' }}
        LSAN_OPTIONS: suppressions=${{ github.workspace }}/.github/workflows/suppr.txt
    # test lammps
    - run: |
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/paddle/lib/*.so ${{ github.workspace }}/dp_test/lib/
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/third_party/install/onednn/lib/* ${{ github.workspace }}/dp_test/lib/
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/third_party/install/mklml/lib/* ${{ github.workspace }}/dp_test/lib/
        export LD_LIBRARY_PATH=${{ github.workspace }}/dp_test/lib:$LD_LIBRARY_PATH
        pytest --cov=deepmd source/lmp/tests
      env:
        OMP_NUM_THREADS: 1
        TF_INTRA_OP_PARALLELISM_THREADS: 1
        TF_INTER_OP_PARALLELISM_THREADS: 1
        LAMMPS_PLUGIN_PATH: ${{ github.workspace }}/dp_test/lib/deepmd_lmp
      if: ${{ !matrix.check_memleak }}
    # test ipi
    - run: |
        export PATH=${{ github.workspace }}/dp_test/bin:$PATH
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/paddle/lib/*.so ${{ github.workspace }}/dp_test/lib/
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/third_party/install/onednn/lib/* ${{ github.workspace }}/dp_test/lib/
        cp ${{ github.workspace }}/source/build_tests/paddle_inference_install_dir/third_party/install/mklml/lib/* ${{ github.workspace }}/dp_test/lib/
        pytest --cov=deepmd source/ipi/tests
      env:
        OMP_NUM_THREADS: 1
        TF_INTRA_OP_PARALLELISM_THREADS: 1
        TF_INTER_OP_PARALLELISM_THREADS: 1
        LD_LIBRARY_PATH: ${{ github.workspace }}/dp_test/lib
      if: ${{ !matrix.check_memleak }}
    - uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  pass:
    name: Pass testing C++
    needs: [testcc]
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
